body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightblue;
}

h1{
    background-color: blue;
    color: aliceblue;
}

h2, h3{
    color: rgb(39, 14, 71);
}

p{
    color: rgb(68, 16, 55);
}

li{
    background-color: black;
    color: rgb(255, 0, 119);
}