.left_top{
    width: 100px;
    height: 100px;
    background-color: red;
    margin-top: 0;
    margin-left: 0;
}

.left_down{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    background-color: rgb(1, 82, 18);
}

.right_top{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    height: 100px;
    background-color: rgb(212, 202, 52);
}

.right_down{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100px;
    height: 100px;
    background-color: rgb(101, 124, 228);
}